<nav class="sidebar">
  <div class="logo">
    <h2></h2>
  </div>

  <ul class="nav-links">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a [routerLink]="'/student/home'">
        <i class="fa-solid fa-chart-line"></i>
        <span>THỐNG KÊ</span>
      </a>
    </li>

    <li routerLinkActive="active">
      <a [routerLink]="'/student/ConductForm/All'">
        <i class="fa-solid fa-users"></i>
        <span>ĐIỂM RÈN LUYỆN</span>
      </a>
    </li>

    <li routerLinkActive="active">
      <a [routerLink]="'/student/ho-tro'">
        <i class="fa-solid fa-comments"></i>
        <span>HỖ TRỢ</span>
      </a>
    </li>

    <li routerLinkActive="active">
      <a [routerLink]="'/student/thong-bao'">
        <i class="fa-solid fa-chart-pie"></i>
        <span>THÔNG BÁO</span>
      </a>
    </li>
  </ul>
</nav>
