<div class="feedback-container">

  <!-- TIÊU ĐỀ -->
  <h2 class="feedback-title">Danh sách phản hồi</h2>

  <!-- BỘ LỌC -->
  <div class="filter-buttons mb-3 ">
    <button style="margin-right: 10px;" class="btn btn-outline-primary" [class.active]="filter === 'all'"
      (click)="setFilter('all')">
      Tất cả
    </button>

    <button style="margin-right: 10px;" class="btn btn-outline-success" [class.active]="filter === 'responded'"
      (click)="setFilter('responded')">
      Đã phản hồi
    </button>

    <button class="btn btn-outline-warning" [class.active]="filter === 'pending'" (click)="setFilter('pending')">
      Chưa phản hồi
    </button>
  </div>

  <!-- DANH SÁCH FEEDBACK -->
  <div *ngFor="let fb of feedbacks" class="feedback-card">

    <div class="feedback-header d-flex justify-content-between align-items-center">

      <!-- BÊN TRÁI: trạng thái + ngày -->
      <div class="left-info">
        <span class="feedback-status" [ngClass]="{ responded: fb.response, pending: !fb.response }">
          {{ fb.response ? 'Đã phản hồi' : 'Chưa phản hồi' }}
        </span>

        <span class="feedback-date ms-3">
          {{ (fb.response ? fb.updatedDate : fb.createAt) | date:'short' }}
        </span>
      </div>

      <!-- BÊN PHẢI: nút xem chi tiết -->
      <button class="detail-btn" (click)="goToDetail(fb.conductFormDTO.conductFormId!)">
        <i class="bi bi-eye-fill"></i> Xem chi tiết
      </button>

    </div>
    <div class="feedback-content">
      <p>{{ fb.content }}</p>
      <img *ngIf="fb.image" [src]="fb.image" class="feedback-image">
    </div>

    <!-- NẾU ĐÃ PHẢN HỒI -->
    <div *ngIf="fb.responseContent" class="feedback-response">
      <strong>Phản hồi:</strong>
      <p>{{ fb.responseContent }}</p>
    </div>
    <!-- NẾU CHƯA PHẢN HỒI: Cho nhập -->
    <div *ngIf="!fb.response" class="respond-box">
      <textarea [(ngModel)]="responseText[fb.feedbackId]" class="form-control response-input"
        placeholder="Nhập phản hồi..."></textarea>

      <button class="btn btn-primary mt-2" (click)="updateResponse(fb)">
        Gửi phản hồi
      </button>
    </div>

  </div>

  <!-- PHÂN TRANG -->
  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 0">&laquo; Trước</button>
    <span>Trang {{ currentPage + 1 }} / {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage + 1 >= totalPages">Tiếp &raquo;</button>
  </div>

</div>
