.layout-container {
  display: flex;
  height: 100vh;
  /* background: #f8fafa; */
  overflow: hidden;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(135deg, #e8f0f3, #f9fcfd); */
  border-radius: 20px 0 0 20px;
  padding: 15px 30px;
}
.content {
  flex: 1;
  overflow-y: auto;
  margin-top: 20px;
}
