<div class="dashboard-wrapper">

  <!-- ===== TOP FUNCTION CARDS ===== -->
  <div class="top-cards">

    <!-- CARD 1 -->
    <div class="card-box">
      <div class="text-group">
        <div class="title">QUẢN LÝ TIẾN ĐỘ</div>
        <div class="sub">Tiến độ thực hiện</div>
        <a [routerLink]="['/manager/tien-do']" class="detail">Xem chi tiết...</a>
      </div>
      <div class="icon-box bg-purple">
        <i class="fa-solid fa-spinner"></i>
      </div>
    </div>

    <!-- CARD 2 -->
    <div class="card-box">
      <div class="text-group">
        <div class="title">THI ĐUA</div>
        <div class="sub">Xem kết quả thống kê</div>
        <a [routerLink]="['/manager/thi-dua']" class="detail">Xem chi tiết...</a>
      </div>
      <div class="icon-box bg-red">
        <i class="fa-solid fa-trophy"></i>
      </div>
    </div>

    <!-- CARD 3 -->
    <div class="card-box">
      <div class="text-group">
        <div class="title">Duyệt phiếu rèn luyện</div>
        <div class="sub">Duyệt </div>
        <a [routerLink]="['/manager/duyet-diem']" class="detail">Xem chi tiết...</a>
      </div>
      <div class="icon-box bg-orange">
        <i class="fa-solid fa-pen"></i>
      </div>
    </div>

    <!-- CARD 4 -->
    <div class="card-box">
      <div class="text-group">
        <div class="title">QUẢN LÝ PHẢN HỒI</div>
        <div class="sub">Quản lý phản hồi</div>
        <a [routerLink]="['/manager/phan-hoi']" class="detail">Xem chi tiết...</a>
      </div>
      <div class="icon-box bg-pink">
        <i class="fa-solid fa-reply"></i>
      </div>
    </div>

  </div>

  <!-- ===== BOTTOM IMAGE SECTION ===== -->
  <div class="bottom-section">

    <div class="image-box">
      <img src="assets/public/img/bgTrangChu.jpg" alt="Logo" />
    </div>

    <div class="image-box">
      <img src="assets/public/img/phieurenluyen.png" alt="Overview 2">
    </div>

  </div>
</div>
